*{
    padding: 0;
    margin: 0;
    border: 0;

    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h1,h2,h3,h4,h5{
    font-family: $font-second;
}
p,span,a{
    font-family:$font-primary;
    font-weight: 600;
}