$primary-color:rgb(37,44,52);
$pale-red:rgba(224, 14, 25, 0.3);
$second-primary-color:rgb(14,134,132);
$font-primary: 'samim';
$font-primary-2:'roboto';
$font-size-primary:20px;
$gradiant-second-color:rgb(95, 61, 10);


    
