@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;1,100&family=Signika:wght@300&display=swap');
@import "variable";
@import "./reset";
@import "./mixins";
@import "./functions";

body{
  font-family: $font-primary;
  direction: rtl; 
  font-size: $font-size-primary;
  
 
}


header{

  .btn-header{
   position: absolute;
   top: -40px;
   left: 0; }
 
 }

.coferosters{
  background-color: rgb(195, 156, 70);
}
.font-size-primary{
  font-family: $font-primary;
  font-size: $font-size-primary;
  text-shadow:0 0 3px black ;
}
.transition-1s{
  transition: 1s;
}
 
header{
  // .header-logo{
  //   @media (max-width:768px){
  //     margin-right: auto !important;
  //   }
  // }
 
 #header-nav{
   ul li {
   margin-right: auto;
   
     }
   }
 

//  .btn-header{
//   position: absolute;
//   top: -40px;
//   left: 0; }

}
.border-top-black{
  border-top:1.1px solid $pale-red;

}
.img-section{
  .img-primary{
   background-image: url(../assets/images/coffe.jpg);
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover;
   padding: 10px;
    width: 100%;
    height: 70vh;
    
    @media (max-width:768px) {
      text-align: center;
    }

}
.col-button-img-primary{
 
  @media (min-width:768px) {
    width: 70%;
  }
  @media (min-width:1200px) {
    width: 50%;
    margin-top: 2em;
    
  }
}
}

@for $i from 6 to 10 {
  .my-#{$i}{
    margin-bottom: $i * 1em;
    margin-top: $i * 1em; 
  }
}
@for $j from 1 to 10 {
  .mx-#{$j}{
    margin-left:  $j * 1em;
    margin-right:  $j * 1em;
  }
}
.chose-us{
  &-primary{
    background-color: $primary-color;
    min-height: 90vh;
    // padding-top: 6em;
    padding: 10em ;
    @media (max-width:768px){
      padding: 6.5em;
    }
    &-text{
    @media (min-width:768px) {
      padding: 0 100px;
    }
     font-size: 20px;
    }
   
  }
}
.chose-us{
 
    &-portion-div{
       background-color: $second-primary-color;
     padding: 2em;
     margin-top: 1em;
      }
      .chose-us-portion{
        // position: absolute;
        // top:12em;
         
        margin-top: -20em;
       
      }
}
.how-it{ 
  .row-once{
    margin-bottom: 4em;
  }
.how-it-main-text{
  text-align: center;
}
.row-second{
  @media (max-width:768px) {
    margin-top:-4em;
  }
  &-col{
     @media (min-width:768px) {
       padding: 5em 0;
    }
    @media (max-width:768px) {
      border:none;
    }
    text-align: center;
     padding:1em 2em;
   
   
  }
  h1{
    color: $pale-red;
    font-weight: bold;
  }
  .once-col,.twice-col,.third-col{
    position: relative;
  
    ::before{
      position: absolute;
      top:-12px;
      right: 0;
      content: "";
      display: block;
      background-color: white;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border:2px solid $second-primary-color;
      @media (max-width:992px)  {
      display: none;
      boder:none;
      }
    }
   
  }
 }
}
 .col-button{
  @media (max-width:768px) {
    margin: 0 0 0 69px;
    text-align: center;
    }
    
   .col-button-plan{
      background-color: $second-primary-color;
      display: block;
      width: 70%;
      color: #fff;
      font-family: $font-second;
      padding: .5em;
      
    }

 }
 
 .sec-footer{
   .row-footer{
     background-color: $primary-color;
     color: #fff;
     padding: 2em;
     .footer-child{
       @media (max-width:986px) {
         
         text-align: center;
         padding:1em 0;
         margin: 0 auto;
        
       }
     }
   }

  @media (max-width:986px){
    .justi-footer-left{
      justify-content: center;
    }
  }

 }
   
 

  

